name: Docker build

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  # ruby_version 共通化のためのジョブ
  # 参考: https://docs.github.com/en/actions/how-tos/writing-workflows/choosing-what-your-workflow-does/running-variations-of-jobs-in-a-workflow#example-using-an-output-to-define-two-matrices
  define_matrix:
    runs-on: ubuntu-latest
    outputs:
      ruby_versions: ${{ steps.ruby_versions.outputs.ruby_versions }}
    steps:
      - uses: actions/checkout@v4
      - name: Define Ruby versions
        id: ruby_versions
        run: echo "ruby_versions=$(jq -c < ruby_versions.json)" >> "$GITHUB_OUTPUT" # 1行にする必要があるので "jq -c" を実施
        working-directory: .github/workflows/

  build:
    timeout-minutes: 30
    needs:
      - define_matrix
    strategy:
      matrix:
        ruby_version: ${{ fromJSON(needs.define_matrix.outputs.ruby_versions) }}
        platform:
          - { runner: 'linux-arm64-public', arch: 'arm64' }
          - { runner: 'ubuntu-24.04', arch: 'amd64' }
    permissions:
      id-token: write
      contents: read

    runs-on: ${{ matrix.platform.runner }}
    steps:
      - name: Check out Git repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@b47578312673ae6fa5b5096b330d9fbac3d116df # v4.2.1
        with:
          aws-region: us-east-1
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          role-session-name: GitHubActions

      # Login to ECR Public to avoid rate limits when pulling base images
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        with:
          registry-type: public

      # manifest で結合するため、buildx を利用せずにビルドする
      - name: Build
        uses: docker/build-push-action@471d1dc4e07e5cdedd4c2171150001c434f0b7a4 # v6.15.0
        with:
          context: .
          platforms: linux/${{ matrix.platform.arch }}
          push: false
          build-args: |
            RUBY_VERSION=${{ matrix.ruby_version }}
